.inputfile{
    width: 0.1px;
    opacity: 0;
    display:none;
}

.inputlabelRound {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(212, 212, 212, 0.12);
}

.inputLabel{
    z-index: 2 !important;
    /* background-color: aquamarine; */
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
}

.image{
    z-index: 1 !important;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
}
.avatar{
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
}
.foto{
    max-height: 300px;
    max-width: 300px;
}
.footer{
    padding: 25px;
}